@import url("rose-pine.css");

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Cantarell;
    font-weight: 500;
    font-size: 16px;
}

window#waybar {
    background-color: shade(@base, 0.9);
    border-bottom: 0px;
    border-radius: 0;
    color: @text;
    transition-property: background-color;
    transition-duration: 0.0s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
}

window#waybar.termite {
    background-color: @surface;
}

window#waybar.chromium {
    background-color: @base;
    border: none;
}

button {
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0px; /* 7px; */
    box-shadow: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

button:hover {
    background: inherit;
    box-shadow: none;
}

#workspaces button {
    padding: 0 6px;
    background-color: transparent;
    color: @text;
}

#workspaces button.visible {
    background: @iris;
    color: @base;
}

#workspaces button:hover {
    background: @foam;
    color: @base;
}

#workspaces button.urgent {
    background-color: @love;
}

#clock,
#battery,
#network,
#pulseaudio,
#tray {
    padding: 0 10px;
    border-radius: 0px; /* 7px; */
    /* border-radius: 7px 7px 12px 12px; */
    /* box-shadow: inset 2px -3px alpha(@crust, 0.2); */
    background-color: transparent;
    color: @text;
}
@keyframes blink {
    to {
        background-color: @text;
        color: @base;
    }
}
/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @love;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
label:focus {
    background-color: @base;
}
#network {
}
#network.disconnected {
    background-color: @love;
}
#tray {
    background-color: @pine;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @love;
}

#pulseaudio-slider slider {
    padding: 0;
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
    background-color: @pine;
}
#pulseaudio-slider trough {
    min-height: 8px;
    min-width: 80px;
    border-radius: 5px;
    background-color: @pine;
}
#pulseaudio-slider highlight {
    min-width: 5px;
    border-radius: 5px;
    border-color: @pine;
    background-color: @pine;
}
#pulseaudio-slider:hover slider {
    background-color: @pine;
}
