[Unit]
Description=Picom Compositor for user benjamin
After=dbus.service graphical-session.target xorg.target

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=XAUTHORITY="/home/benjamin/.Xauthority"
ExecStart=/usr/bin/picom --dbus
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID
ExecStop=/usr/bin/kill -int $MAINPID
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=display.target
